go 1.26.1

use (
	./algorithm
	./big
	./casbin
	./cobra
	./cron
	./excelize
	./gin
	./gocsv
	./grpc
	./json
	./jwt
	./moby
	./net
	./oops
	./otp
	./paho.mqtt.golang
	./redis
	./slog
	./snowflake
	./swag
	./validator
	./viper
	./wire
	./xorm
	./zap
	./zerolog
)
